.svgWrapper {
  position: relative;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  margin-top: -8px;
}

.ellipse {
  fill: none;
  stroke-width: 2px;
  stroke: #F87E59;
  stroke-dasharray: 300 300;
  stroke-dashoffset: 300;
  transition: stroke-dashoffset 500ms linear;
}

svg:hover .ellipse {
  stroke-dashoffset: 0;
}

.svgWrapper:hover {
  cursor: pointer;
}
